/* Brandon Ruger
 * Project 4
 * VFW 1308 */

body{
    background-color: #202074;
    
}

h1 {
    font-family: "Times New Roman";
    color: red;
    font: 28px "Times New Roman";
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid white;
    background-color:  blue;
    text-decoration: blink;
    
}

legend {
    font: 20px "Times New Roman";
    color: white;
    text-align: center;
    border: 2px solid white;
    margin-top: 10px;
    padding: 5px;
    background-color: #008aff;
    letter-spacing: 0.5em;
    
}

li {
    font: 14px "Tahoma";
    color: white;
}

input {
    margin-left: 10px;
    padding: 5px;
    
}

a{
    font: 12px "Arial";
    color: #008aff;
    text-align: center;
       
}

a:hover{color: white; outline: groove;}

select {
    margin-left: 10px;
    background-color: white;
    font: 14px "Arial";
    color: blue;
    
}

option {
    font: 14px "Arial";
    color: blue;
}

#button {
    margin-top: 10px;
    background-color: red;
    font: 18px "Arial";
    color: white;
}

img {
    width: 40px;
    height: 40px;
}

label {
    color: white;
}